[project]
	description = A massively spiffy yet delicately unobtrusive compression library.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Frank Zhang (hlhtddx)
[access "refs/for/refs/*"]
	read = group user/Frank Zhang (hlhtddx)
	push = group user/Frank Zhang (hlhtddx)
	label-Code-Review = -2..+2 group user/Frank Zhang (hlhtddx)
	label-Verified = -1..+1 group user/Frank Zhang (hlhtddx)
	rebase = group user/Frank Zhang (hlhtddx)
	removeReviewer = group user/Frank Zhang (hlhtddx)
	submit = group user/Frank Zhang (hlhtddx)
[access "refs/heads/*"]
	read = group user/Frank Zhang (hlhtddx)
	create = group user/Frank Zhang (hlhtddx)
	push = +force group user/Frank Zhang (hlhtddx)
	pushMerge = group user/Frank Zhang (hlhtddx)
[access "refs/tags/*"]
	push = group user/Frank Zhang (hlhtddx)
	push = +force group user/Frank Zhang (hlhtddx)
